<div class="modal-right">
  <div class="chat-header">
    <h4>Got any comment?</h4>
    <button type="button" class="btn btn-default" data-dismiss="modal">x</button>
  </div>
  <div id="messages" class="chat-body">
    <div class="messages-container" id="message">
      <i class="author">
        <span>#Author</span>
        <small>#Time</small>
      </i>
      <p>#Message</p>
    </div>
  </div>
  <div class="input-field">
    <p>#Message-input</p>
  </div>

</div>
