.container-dashboard {
  max-width: 750px;
  margin-top: 50px;
  margin-left: 100px;
}

.top .add {
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.primary-link {
  border-bottom: 1px solid #6951FF;
  margin-left: 24px;
}

.secondary-link {
  margin-left: 24px;
}

.secondary-link a {
  text-decoration: none !important;
  color: #9a9a9a;
  &:hover {
    color: #7c7c7c;
  }
}

.my-cards-tabs {
  display: inline-flex;
  margin-bottom: 18px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 40px;
  width: 100%

}

.dashboard-headings {
  margin-bottom: 44px;
}
