<div class="about-background">
  <div class="container about-container">
    <div class="about-header">
      <h1 class="about-title">Meet the <em>n</em> team</h1>
      <h4>Responsible for this amazing app</h4>
    </div>
    <div class="avatars-container">
      <div class="team-member">
        <div class="img-container">
          <img src="https://kitt.lewagon.com/placeholder/users/Bbbie" alt="Deborah" class="team-member-avatar">
        </div>
        <div class="team-member-info">
          <h6>Deborah Sillmann</h6>
          <p>#Something here. Perhaps role? </p>
        </div>
      </div>
      <div class="team-member">
        <div class="img-container">
          <img src="https://kitt.lewagon.com/placeholder/users/Da-vinia" alt="Davinia" class="team-member-avatar">
        </div>
        <div class="team-member-info">
          <h6>Davinia Tosco Abreu</h6>
          <p>#Something here. Perhaps role? </p>
        </div>
      </div>
      <div class="team-member">
        <div class="img-container">
          <img src="https://kitt.lewagon.com/placeholder/users/Aj-vrod" alt="Ammy" class="team-member-avatar">
        </div>
        <div class="team-member-info">
          <h6>Ammy Varela</h6>
          <p>#Something here. Perhaps role? </p>
        </div>
      </div>
    </div>
    <div class="link">
      <%= link_to "Go back", root_path, class: "btn btn-primary btn-medium" %>
    </div>
  </div>
</div>
