<!-- HERE BANNER -->

<div class="banner">
  <div class="banner-content">
    <h1>Build a community inside your house</h1>
    <p>Connect with your direct neighbors and Lorem ipsum dolor sit amet, consectetur</p>
    <div class="search-field">
      <form action="#" method="post">
        <input type="text" name="address" id="address" placeholder="Enter your address">
        <input type="submit" value="Find Community">
      </form>
    </div>
  </div>
</div>

<!-- HERE CONTAINER WITH CARDS -->

<div class="container">
  <div class="main-content">
    <h2>How it works</h2>
    <!-- HERE CARDS -->
    <div class="cards">
      <div class="card">
        <img src="#" alt="parcels">
        <div class="card-info">
          <h3>Parcels</h3>
          <p>Find out where your parcels are and when you can pick them up</p>
        </div>
      </div>
      <div class="card">
        <img src="#" alt="parcels">
        <div class="card-info">
          <h3>Mutual help</h3>
          <p>Share infos, ask questions, post requests and help each other out</p>
        </div>
      </div>
      <div class="card">
        <img src="#" alt="parcels">
        <div class="card-info">
          <h3>Community</h3>
          <p>Plan mutual activities and get to know your neigbors</p>
        </div>
      </div>
    </div>
  </div>
</div>
