// on cards index
.card{
  background-color: white;
  border-radius: 24px;
  border: none !important;
  width: 356px;
  height: 282px;
  box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.12);
}

.card-content {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-top {
  display: flex;
  align-items: space-between;
  margin-bottom: 30px;
}

.card-middle {
  margin-bottom: 20px;
}

.card-description {
  // margin-bottom: 30px;
}

.card-content .card-avatars {
  margin: 0;
  padding: 0;
  margin-bottom: -7px;
}

.card-top {
  display: flex;
  justify-content: space-between;
}
