.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: solid 1px rgba(0,0,0,.1);
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 10px;
}

// .input-field.chat-input-field-group {
//   display: flex;
//   justify-content: flex-end;
// }

.chat-body {
  height: 465px;
}

.input-field {
  border-top: solid 1px rgba(0,0,0,.1);
  padding-bottom: 15px;
}

.chat-input-field-group {
  position: relative;
  padding-top: 10px;
  padding-left: 14px;
  padding-right: 14px;
  .form-group {
    textarea.form-control {
      color: #323232 !important;
      padding-right: 20px;
      border: none;
      height: 75px;
      margin-bottom: 4px;
      background-color: none !important;
    }
    textarea.form-control:focus {
      color: #323232 !important;
      background-color: none !important;
      border-color: rgba(255, 255, 255, 0) !important;
      box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0) !important;
    }
  }
  .btn-chat {
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
}

.chat-bubble {
  display: inline-flex;
  margin-left: 20px;
  margin-top: 26px;
  margin-right: 20px;
  .avatar-small {
    margin-right: 8px;
  }
}

.messages-container {
  padding: 10px 10px;
  background-color: #FAFAFA;
  border-radius: 8px;
  .author {
    display: flex;
    justify-content: space-between;
  }
  .text-small {
    padding-right: 20px;
  }
}

.modal-right {
  padding: 0 !important;
  width: -webkit-fill-available;
}


