
.dropright {

  box-shadow: 0px 0px 5px 0px #00000026;
  border-radius: 10px;
}

.dropdown-group {
    display: flex;
    align-items: center;

}

.drop-item {
  padding: 0.3em 0.5em;
  color: #323232;
  &:hover {
    color: #323232;
  }
}
