.dropright {
  border: none;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.20);
  border-radius: 9px;
  transition: ease .3s;
  background-color: white;
  border: 1px solid #EEEEEE;
}

.dropdown-group {
  padding-left: 10px;
  display: flex;
  align-items: center;
  opacity: .8;
    &:hover {
    background-color: #F6F6F6 !important;
    margin: 0;
    opacity: 1;
  }
}

.drop-item {
  padding: 0.3em 0.5em;
  color: #323232;
  &:hover {
    color: #323232;
  }
}
