.form-control {
  border-radius: 19px;
  &:focus {
    border: 1px solid rgba(105, 81, 255, 0.6) !important;
    box-shadow: 0px 0px 0px 4px rgba(105, 81, 255, 0.2) !important;
  }
}

.form-background {
  padding: 40px;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.12);
}

.form-logged-out .headline{
  margin-bottom: 40px;
}

.center-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  .form-actions {
    margin-top: 30px;
  }
  p {
    margin-top: 20px;
    max-width: 334px;
    text-align: center;
    margin-bottom: -37px;
  }
  .password {
    margin-top: -30px;
    margin-bottom: -12px;
  }
}

// create card inputs

.board-item, .category-item {
  display: inline-block;
  padding-right: 4px;
}

.input_board, .input_category {
  position: absolute;
  transform: scale(0);
}


.input_board+label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 400;
  width: 150px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  margin-right: 8px;
  border: 1px solid #EAEAEA;
  border-radius: 12px;
  background-color: white;
}
.input_board:hover+label {
  background-color: rgba(105, 81, 255, 1);
  border: 1px solid rgba(105, 81, 255, 1);
  color: white;
}
.input_board:checked+label {
  background-color: rgba(105, 81, 255, 1);
  border: 1px solid rgba(105, 81, 255, 1);
  color: white;
}

#snippet_board_parcels + label {
  color: #FD1015;
}

#snippet_board_parcels:checked + label {
  background-color: #FD1015;
  border-color: #FD1015;
}


#snippet_board_parcels + label {
  color: #FFC65A;
}

#snippet_board_parcels:checked + label {
  background-color: #FFC65A;
  border-color: #FFC65A;
}


#snippet_board_parcels + label {
  color: #62DDF5;
}

#snippet_board_parcels + label {
  background-color: #62DDF5;
  border-color: #62DDF5;
}

.input_category+label {
  background-color: none;
  border: 1px solid rgba(105, 81, 255, 1);
  text-align: center;
  min-width: 44px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(105, 81, 255, 1);
  padding: 3px 9px;
  border-radius: 20px;
  transition: all .1s ease-in-out;
}
.input_category:hover+label {
  background-color: rgba(105, 81, 255, 1);
  color: white;
}

.input_category:checked+label {
  background-color: rgba(105, 81, 255, 1);
  color: white;
}


.input_users {

}
.input_users:checked {
  background-color: rgba(105, 81, 255, 1);
}

