.form-control {
  border-radius: 19px;
  &:focus {
    border: 1px solid rgba(105, 81, 255, 0.6) !important;
    box-shadow: 0px 0px 0px 4px rgba(105, 81, 255, 0.2) !important;
  }
}

.form-background {
  padding: 40px;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.12);
}

.form-logged-out .headline{
  margin-bottom: 40px;
}

.center-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  .form-actions {
    margin-top: 30px;
  }
  p {
    margin-top: 20px;
    max-width: 334px;
    text-align: center;
    margin-bottom: -37px;
  }
  .password {
    margin-top: -30px;
    margin-bottom: -12px;
  }
}

.form-control:disabled, .form-control[readonly] {
  background-color: white !important;
  opacity: 1 !important;
}

// modal & fonts

.modal-body .headline {
  margin-bottom: 30px;
}

.modal-body .btn {
  margin-top: 30px;
}

.modal-body .form-actions {
  text-align: center;
}

// create card inputs


.board-item, .category-item {
  display: inline-block;
  padding-right: 4px;
}

.input-category {
  position: absolute;
  transform: scale(0);
}


.input-category+label {
  background-color: none;
  text-align: center;
  min-width: 44px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(105, 81, 255, 1);
  padding: 3px 9px;
  border-radius: 20px;
  transition: all .1s ease-in-out;
}

#card_category_action+label {
  border: 1px solid #00B888;
  color: #00B888;
  &:hover {
    background-color: #00B888;
    color: white;
  }
  &:checked {
    background-color: #00B888;
    color: white;
  }
}

#card_category_request+label {
  border: 1px solid #5577FF;
  color: #5577FF;
  &:hover {
    background-color: #5577FF;
    color: white;
  }
  &:checked {
    background-color: #5577FF;
    color: white;
  }
}

#card_category_info+label {
  border: 1px solid #49CCF9;
  color: #49CCF9;
  &:hover {
    background-color: #49CCF9;
    color: white;
  }
  &:checked {
    background-color: #49CCF9;
    color: white;
  }
}

#card_category_offer+label {
  border: 1px solid #FFC800;
  color: #FFC800;
  &:hover {
    background-color: #FFC800;
    color: white;
  }
  &:checked {
    background-color: #FFC800;
    color: white;
  }
}

#card_category_question+label {
  border: 1px solid #FD71AF;
  color: #FD71AF;
  &:hover {
    background-color: #FD71AF;
    color: white;
  }
  &:checked {
    background-color: #FD71AF;
    color: white;
  }
}

.input-users, #input-select-all {
  position: absolute;
  margin-top: 5px;
  height: 12px;
  width: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #ced4da;
  border-radius: 2px;
  outline: none;
  transition-duration: 0.1s;
  background-color: none;
  cursor: pointer;
}

.input-users:checked, #input-select-all {
  background-image: url('ic-checkbox.svg');
  background-size: cover;
  background-color: rgba(105, 81, 255, 1);
  border: 1px solid rgba(105, 81, 255, 1);
}

#new-card .input-times {
  display: flex;
  flex-direction: row;
}

.input-times, .input-dates {
  display: inline-flex;
  justify-content: space-between;
}

#card_start_time {

  margin-right: 10px;
}

#card_start_date {

  margin-right: 10px;
}
