.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// nav bar home, login etc.


// nav bar dashboard

.boards {
  display: inline-flex;
}

.board-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin-left: 20px;
  background-color: #F2F2F2;
  border-radius: 8px;
  &:hover {
    background-color: #E7E7E7;
  &:active {
    background-color: #E0E0E0;
  }
  }
}

#nav-logo-short {
  font-family: 'Asap', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 40px;
  color: #323232;
  &hover {
    color: #323232;
  }
}
