.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// nav bar home, login etc.
.homepage-login {
  margin-right: 10px;
  padding-right: 10px !important;
  padding-left: 10px !important;
  color: #6951FF !important;
  border-radius: 20px;
  border: 1px solid #6951FF;

  a {
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;


  }

}

.homepage-signup {

  padding-right: 10px !important;
  padding-left: 10px !important;
  background-color: #6951FF;
  color: #FAFAFA !important;
  border-radius: 20px;
  border: 1px solid #6951FF;

    a {
      font-size: 18px;
      font-family: Roboto;
      font-weight: 400;
    }
}

// nav bar dashboard

.boards {
  display: inline-flex;
}

.board-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin-bottom: 10px;
  background-color: #F2F2F2;
  border-radius: 8px;
  &:hover {
    background-color: #E7E7E7;
  &:active {
    background-color: #E0E0E0;
  }
  }
}

#nav-logo-short {
  font-family: 'Asap', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 40px;
  color: #323232;
  &hover {
    color: #323232;
  }
}

#nav-logo-long {
  font-family: 'Asap', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 32px;
  color: #323232;
  &hover {
    color: #323232;
  }
}

.navbar-vertical {
  position: absolute;
  top: 0;
  height: 100vh;
  flex-direction: column;

}

.nav-vertical {
  height: 100%;
  justify-content: space-between;
  position: relative;
}

.navbar-icons {
    height: 100%;
    position: absolute;
    top: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

