
.top #neighbors {
  position: fixed;
  top: 60px;
  right: 74px;
  height: 60px;
}

.top #neighbors-index {
  position: fixed;
  top: 120px;
  right: 60px;
  background-color: white;
  border-radius: 24px;
  padding: 30px;
  box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.12);
}

.neighbor {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.neighbors-inline {
  margin-left: 24px;
}

.neighbors-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.neighbors-top .from-who {
  margin-bottom: 10px;
}

.display-none {
  display: none;
}

#neighbors-index p {
  color: #323232;
  &:hover {
    color: #323232;
  }
}
