
.top #neighbors {
  position: fixed;
  top: 60px;
  right: 74px;
  height: 60px;
}

.top #neighbors-index {
  position: fixed;
  top: 120px;
  right: 60px;
  background-color: white;
  border-radius: 24px;
  padding-bottom: 25px;
  z-index: 1;
  box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.12);
}

.neighbor {
  padding: 8px 30px;
  display: flex;
  align-items: center;
  &:hover {
    background-color: #f7f7f7;
  }
}

.neighbor:hover .description-card {
  color: #323232;
  opacity: 1;
}

.neighbors-inline {
  margin-left: 24px;
}

.neighbors-top {
  padding: 0 30px;
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.display-none {
  display: none;
}

.description-card {
  color: #323232;
  opacity: .8;
}
