// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';

// Your CSS partials
@import "components/index";
@import "pages/index";

// colors
$blackish: #323232;
$purple: #6951FF;
$dark-purple: #5b46dd;

// general css stuff
body {
  background-color: #fafafa;
  color: $blackish;
}

ul {
  list-style: none;
  padding: 0;
}

.container-dashboard {
  max-width: 750px;
  margin-top: 50px;
  margin-left: 100px;
}

