// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "components/index";
@import "pages/index";

// colors
$blackish: #323232;
$purple: #6951FF;
$dark-purple: #5b46dd;

// general css stuff
body {
  background-color: #fafafa;
  color: $blackish;
}

ul {
  list-style: none;
  padding: 0;
}

// text

p {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: bold;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
}

.headline {
  font-size: 36px;
  font-weight: bold;
}

.sub-header {
  font-size: 24px;
  font-weight: 300;
}

.title {
  font-size: 18px;
  font-weight: 700;
}

.description-card {
  font-size: 16px;
  font-weight: 400;
}

.description-modal {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.from-who {
  font-size: 14px;
  font-weight: 400;
}

.date-time {
  font-size: 14px;
  font-weight: 400;
  color: #9a9a9a;
}

.hover-menu-text p {
  margin: 0 !important;
  font-size: 14px;
  font-weight: 400;
  color: #323232;
}

.text-small {
  font-size: 12px;
  font-weight: 400;
}

.date-time-small {
  font-size: 12px;
  font-weight: 400;
  color: #9a9a9a;
}
